<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiang.android.dao.FoodDao">

    <resultMap id="FoodInfo" type="com.jiang.android.entity.pojo.FoodInfo">
        <id column="id" property="id"/>
        <result column="url" property="imgUrl"/>
        <result column="name" property="name"/>
        <result column="content" property="content"/>
    </resultMap>

    <select id="selectFoodList" resultMap="FoodInfo">
        select * from food_info;
    </select>



</mapper>